* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.container {
    width : 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 0;
}

.gridBox{
    background-color: rgb(255, 255, 255);
    outline: 1px solid black;
    flex: 0 0 auto;
}