* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.box {
    background-color: white;
    height: 6.25%;
    width: 6.25%;
    border : 2px solid blue;
    border-radius: 10px;
}
.paint{
    background-color: blueviolet;
}